/* main div{

    float: left;

    height: 400px;

    width: 200px;

    margin-left: 100px;

}

div img{

    width: 100%;

} */
 main div{
     height: 400px;
     width: 200px;
 }
 main{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
 }
 div img{
     width: 100%;
 }